<%- include('partials/header'); -%>

<div>
    <h2>Instrctions</h2>
    <h3>Software development> Instrctions</h3>
    <ol>
        <li>This is a self-paced course; the materials will be released every week and the projects will
             be related to it. All the material / resources needed for the project are given on the dashboard with the required instruction.</li>
             <li>Guidance is clearly provided on the dashboard and you will not be allowed to resubmit the projects.</li>
             <li>Re-submissions and queries regarding projects will not be entertained. Please submit the project 
                 carefully the first time only. Nobody will be allowed to resubmit the project again.</li>
                 <li>Certificates are provided at the end of the course if all the projects are approved.</li>
                 <li>Projects should be unique and not copied from any source and no group projects are allowed . 
                     If found copied your project will be rejected , no excuse will be entertained.</li>
                     <li>Projects approval lies in the hand of the authority and their decision will be full & final.</li>
                     <li>LOR is based on project quality which remains in the hands of TAs/ checkers.</li>
                     <li>All lessons should be marked complete.</li>
                     <li>You have to score at least 60% in the quiz for the lesson to mark them complete.</li>
    </ol>
</div>


<%- include('partials/footer'); -%>