<%- include('partials/header'); -%>

<header>
  <div class="profile">
    <img src="/profile.jpg" alt="">
  </div>
  <div class="headings">
    <h3>Click the button below to view/edit the profile</h3>
    <a href="/profile" class="btn">View/Edit Profile</a>
  </div>
</header>


<%- include('partials/footer'); -%>